.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #282c34;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ////////////////////////// my change style */

*{
  margin: 0;
  padding: 0;
 
}


.BGsearch{
  background-color: #282c34;
  padding: 10px;

}

.title{
  color: wheat;
  font-size: 5vw;
}

.card{
  border: 2px solid rgb(230, 230, 230);
  height: 100%;
  padding: 10px;
  margin:2px;
  display: flex;
  flex-direction: column;

 

}

.card1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  padding: 10px;

  
}





